*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: #1f355e;
    color: white;
}


/* ================================================NAV BAR START */
/* ================================= MENU CONTENT */
#menu-content{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
}

#more-btn{
    margin-top: 20px;
}

#icons{
    display: flex;
    justify-content: end;
    align-items: center;
}

#icons span i{
    font-size: 25px;
    color: #1f242d;
}


nav{
    position: fixed;
    background-color: #f1f1f1;
    width: 100%;
    top: 0;
    z-index: 3;
    box-shadow: 0 0 2px black;
}

#contact-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgb(223, 223, 223);
    background-color: white;
    padding: 10px 2%;
}

#nav-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 5%;
}

#menu-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#menu-links div a{
    font-size: small;
}

.bi-caret-down-fill,
.bi-person-check,
.bi-question-diamond{
    font-size: 18px;
}

#sign-btn{
    background-color: rgb(255, 94, 0);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}

#tel-info{
    background-color: #f1f1f1;
    padding: 12px 100px;
    border-bottom-left-radius: 100px;
   
}

#mail-info{
    padding: 10px 150px;
}

.bi-instagram,
.bi-envelope,
.bi-whatsapp,
.bi-telephone{
    padding: 10px;
    font-size: 20px;
}

#cartEl{
    cursor: pointer;
    position: relative;
}

.bi-cart4{
    font-size: 30px;
    padding: 5px
}

#cart-amount{
    display: block;
    position: absolute;
    top: -15;
    left: -10;
    font-size: 15px;
    background-color: red;
    color: white;
    padding:1px 3px;
}

#lang{
    padding:12px 5px;
    background-color: #f1f1f1;
    width: fit-content;
}

#lang select{
    border: none;
    background-color: #f1f1f1;
    outline: none;
}


#name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 5px;
    /* box-shadow: 0 0 5px #1f242d; */
    border-radius: 8px;
}

/* =====================================================================SIGN IN FOR OUR SERVICES */

.register-head{
    /* text-align: center; */
    margin-top: 170px;
}

.heading-register{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    padding: 10px 22%;
}

#reg-btn{
    text-align: center;
    padding: 20px;
}

.register-button{
    width: 300px;
    height: 40px;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(255, 174, 0);
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}
.register-button:hover{
    width: 300px;
    height: 40px;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(146, 100, 0);
    color: white;
    cursor: pointer;
    border: none;
}

#form-input{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    margin: 20px 27%;
    padding: 20px;
    border-radius: 10px;
    color: #1f242d;
    position: absolute;
    top: 130px;
}
form{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    gap: 10px;

}

input{
    width: 500px;
    padding: 10px;
    border-radius: 8px;
    border: 1px rgb(206, 206, 206) solid;
    outline: none;
}

label{
    font-size: 15px;
}